
<ion-content>
  <div class="top-logo" style="width:110%;height:49%;" id="logo-header-top">
    <img src="https://i.imgsafe.org/ff53747cb6.png">
  </div>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate id="email-login-form">

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input #username formControlName="username" type="username" (change)="elementChanged(username)"
        placeholder="Your username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password"
        (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid &&
          (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit" style="background-color: #7D0074;">
      Login
    </button>



  </form>

  <div id="social-login">
    <span>
    <button ion-button icon-only>
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="logo-twitter"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="logo-google"></ion-icon>
    </button>
    </span>


  </div>
  <div id="login-options">
    <span>
      <button ion-button clear (click)="createAccount()" style="display: inline-block; margin-right: 2vw;">
        Register
      </button>
      |
      <button ion-button clear (click)="goToResetPassword()" style="display: inline-block; margin-left: 2vw;">
        Forgot Password
      </button>
    </span>

  </div>



</ion-content>

<!--<div class="col-md-6 col-md-offset-3">-->
    <!--<h2>Login</h2>-->
    <!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>-->
        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
            <!--<label for="username">Username</label>-->
            <!--<input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />-->
            <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
        <!--</div>-->
        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
            <!--<label for="password">Password</label>-->
            <!--<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />-->
            <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<button [disabled]="loading" class="btn btn-primary">Login</button>-->
            <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
        <!--</div>-->
        <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
    <!--</form>-->
<!--</div>-->
