page-login {

    .no-scroll .scroll-content{
         overflow: hidden;
    }

    #logo-header-top {
      img {
        height: 49vh;
        width: 111vw;
      }
    }
    form {
        //margin-bottom: 32px;
        button {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }

    #email-login-form {
      margin-top: -4vh;
      height: 18vh;
      width: 100%;
      margin-bottom: 22vh;

    }

    #social-login {
      width:100%;
      margin-left: 16vw;
      margin-right: 10vw;
      margin-top: -2vh;
      margin-bottom: 1.5vh;

      button {
        margin-right: 10vw;
        //margin-top: 40px;
        //margin-bottom: 20px;
        width: 14vw;
      }
    }


    #login-options {
      width:100%;
      margin-left: 30vw;
      margin-right: 25vw;
      margin-top: -1vh;
      font-size: 8px;
      //margin-bottom: 50px;

      button {
        font-size: 10px;
      }
    }


    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label {
        margin-left: 5px;
    }

    ion-input {
        padding: 5px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

}
