#tab-t0-0  {
  margin-left: -6.5vw;
}

#tab-t0-1 {
  margin-left: -11.5vw;
}

#tab-t0-2  {
  margin-right: -11.5vw;
}

#tab-t0-3  {
  margin-right: -6.5vw;
}

.big-add-button {
    position: absolute;
    left: 41vw;
    bottom: -.25vh;
    z-index: 10;
    font-size: 10.5pt;
    width: 4.0em;
    height: 4.0em;
    border-radius: 300px;
  }
