page-add-place-modal {

  font-family: 'Open Sans', sans-serif;

  #close-button {
    margin-top: -1.25vh;
    margin-right: 5vw;

  }

  .title-row {
    margin-left: 6vw;
    margin-top: 2vh;
    font-size: 22px;
  }



}
