<!--
  Generated template for the PlacelistModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <ion-row class="title-row">
    <ion-col width-50> <strong>Add Place</strong> </ion-col>
    <ion-col width-10 offset-25>
        <div id="close-button">
          <button ion-button clear icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
          </button>
        </div>
    </ion-col>
  </ion-row>
  <ion-row class="places-search">
    <ion-searchbar
        [(ngModel)]="autocomplete.query"
        [showCancelButton]="true"
        (ionInput)="updateSearch()"
        (ionCancel)="dismiss()"
        [debounce]="10"
        placeholder="Start typing and select ...">
    </ion-searchbar>
    <ion-list>

    </ion-list>
  </ion-row>
  <ion-item *ngFor="let item of autocompleteItems"
            (click)="chooseItem(item)">
            {{ item.description }}
  </ion-item>

  <ion-item *ngFor="let place of newPlaces">

    <ion-card class="new-place-card">

      <ion-row>
        <ion-col width-25>
          <img src="{{ place.photo }}" >
        </ion-col>
        <ion-col width-75>
          <ion-row>
            <div class="place-name">{{place.realName}}</div>
          </ion-row>
          <!--<ion-row>-->
            <!--<div class="flex-container wrap">-->
              <!--<button ion-button round class="place-tag">Fancy</button>-->
              <!--<button ion-button round class="place-tag">Independent</button>-->
              <!--<button ion-button round class="place-tag">Dinner</button>-->
              <!--<button ion-button round class="place-tag">Asian Fusion</button>-->
              <!--<button ion-button round class="place-tag">Cocktails</button>-->
            <!--</div>-->
          <!--</ion-row>-->
        </ion-col>
      </ion-row>

      <!--<ion-row style="margin-bottom: 7vh;">-->
        <!--<div style="text-align: left; margin-left: 1vw;">-->
          <!--Lorem ipsum consectetur adipiscing elit, sed do eiusmod.-->
        <!--</div>-->
      <!--</ion-row>-->


    </ion-card>

  </ion-item>

  <button ion-button (click)="addToList()">
    <ion-icon name="add"></ion-icon> Add To List
  </button>

  <div id="tap" style="display: none;">

  </div>



</ion-content>
