<ion-header>
  <ion-navbar>
    <ion-title>
      Placelist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button icon-only (click)="newList()">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-list *ngIf="lists">
    <ion-item *ngFor="let list of lists | async" (click)="goToList(list.id)" >
    <!--<ion-item *ngFor="let list of lists | async" (click)="presentModal(list._id)">-->
      <h2>{{list?.title}}</h2>
      <p>Author: <strong>{{list?.author.username}}</strong></p>
    </ion-item>
  </ion-list>
</ion-content>
