<!--
  Generated template for the PlacelistModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <ion-row class="title-row">
    <ion-col width-50> <strong>Add Place</strong> </ion-col>
    <ion-col width-10 offset-25>
        <div id="close-button">
          <button ion-button clear icon-only (click)="close()">
            <ion-icon name="close"></ion-icon>
          </button>
        </div>
    </ion-col>
  </ion-row>
  <ion-row class="places-search">
    <ion-searchbar
        [(ngModel)]="autocomplete.query"
        [showCancelButton]="true"
        (ionInput)="updateSearch()"
        (ionCancel)="dismiss()"
        [debounce]="10"
        placeholder="Start typing and select ...">
    </ion-searchbar>
    <ion-list>

    </ion-list>
  </ion-row>
  <ion-item *ngFor="let item of autocompleteItems"
            (click)="chooseItem(item)">
            {{ item.description }}
  </ion-item>

  <ion-row *ngFor="let place of newPlaces">

    <ion-card class="new-place-card">

      <ion-row *ngIf="place.photo">
        <ion-col width-25>
          <img src="{{ place.photo }}" >
        </ion-col>
        <ion-col width-75>
          <ion-row>
             <ion-item>
               <ion-label><strong>{{place.name}}</strong></ion-label>
               <ion-textarea placeholder="Add an optional blurb about this place (max 140 char)"></ion-textarea>
             </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>


        <ion-row *ngIf="!place.photo">
           <ion-item>
             <ion-label><strong>{{place.name}}</strong></ion-label>
             <ion-textarea placeholder="Add an optional blurb about this place (max 140 char)"></ion-textarea>
           </ion-item>
        </ion-row>

      <!--<ion-row style="margin-bottom: 7vh;">-->
        <!--<div style="text-align: left; margin-left: 1vw;">-->
          <!--Lorem ipsum consectetur adipiscing elit, sed do eiusmod.-->
        <!--</div>-->
      <!--</ion-row>-->


    </ion-card>

  </ion-row>

  <button ion-button (click)="addToList()">
    <ion-icon name="add"></ion-icon> Add To List
  </button>

  <div id="tap" style="display: none;">

  </div>



</ion-content>
