page-placelist-place-detail {

  .close-button {
    z-index: 3;
  }

  .place-name {
    font-size: 17px;
    color: #7D0074;
  }

  .input-wrapper {
    margin-top: -7vh;
  }

  .place-detail-row {
    margin-top: 6vh;
  }

  .place-address {
    margin-left: 1.5vw;
    margin-top: 1.75vh;
    font-size: 14px;
  }


  .address-row {
    margin-top: 15vh;
    margin-left: 3vw;
  }


}
