<!--
  Generated template for the Placelist page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>


  <ion-row style="margin-top: 2vh;">
    <ion-col width-90 style="margin-left: 5vw;">
        <div id="list-title">
          {{listTitle}}
        </div>
      <ion-row id="subheading">
        <ion-col width-50 id="author" style="margin-right: -5vw;">
          by {{author}}
        </ion-col>
        <ion-col width-20 text-center>
          <strong>03 </strong> <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col width-20 text-center>
          <strong>07 </strong> <ion-icon name="star"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col width-10 style="margin-left: -8vw;">
      <div id="close-button">
        <button ion-button clear icon-only (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </ion-col>

  </ion-row>

  <!--<div *ngIf="viewMode==='map'" style="width:100%;height:70%;" id="map"></div>-->

  <div style="width:100%;height:60%; z-index: -1;" id="map"></div>

  <button ion-button round icon-only class="add-places" (click)="addPlaceModal()"><ion-icon name="add-circle"></ion-icon></button>


  <div class="myslides" *ngIf="places" style="height:32vh; margin-right: -35vw; margin-left: -35vw; margin-top: -6vh;">

    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide *ngFor="let place of placelist.places" >
        <ion-card class="place-card" style="width:80vw; height: 25vh; margin-top: -3vh; z-index: 1;">

          <ion-row>
            <ion-col width-25>
              <img src="https://i.imgsafe.org/2a1c41e949.png" >
            </ion-col>
            <ion-col width-75>
              <ion-row>
                <div class="place-name">{{place.name}}</div>
              </ion-row>
              <ion-row>
                <div class="flex-container wrap">
                  <button ion-button round class="place-tag">Fancy</button>
                  <button ion-button round class="place-tag">Independent</button>
                  <button ion-button round class="place-tag">Dinner</button>
                  <button ion-button round class="place-tag">Asian Fusion</button>
                  <button ion-button round class="place-tag">Cocktails</button>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <div style="text-align: left; margin-left: 1vw;">
              Lorem ipsum consectetur adipiscing elit, sed do eiusmod consectetur adipiscing.
            </div>
          </ion-row>

          <ion-row style="font-size: 16px;">
            <ion-col width-10>
              <ion-icon name="ios-trash-outline"></ion-icon>
            </ion-col>
            <ion-col width-20 offset-25>
              <ion-icon name="ios-share-outline"></ion-icon>
            </ion-col>
            <ion-col width-20>
              <ion-icon name="star-outline"></ion-icon>
            </ion-col>
            <ion-col width-20>
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>


        </ion-card>
      </ks-swiper-slide>
    </ks-swiper-container>
    <!--<button (click)="movePrev()">Prev</button>-->
    <!--<button (click)="moveNext()">Next</button>-->
  </div>

  <div id="tap" style="display: none;">

  </div>


</ion-content>
